/* ======================================================================
 *
 * BREAKPOINT 0 : 1000px (if necessary)
 *
 * ====================================================================== */
@media handheld, only screen and (max-width: 1000px) {



}

/* ======================================================================
 *
 * BREAKPOINT 1 : 800px
 *
 * ====================================================================== */

@media handheld, only screen and (max-width: 800px) {

/*
 * Layout
 */
.site{
	padding: 0 10px;
}

}

/* ======================================================================
 *
 * BREAKPOINT 2 : 600px
 *
 * ====================================================================== */
 
@media handheld, only screen and (max-width: 600px) {



}

/* ======================================================================
 *
 * HIGH RESOLUTION DISPLAY
 *
 * ====================================================================== */

/* @media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){ */
@media only screen and (-webkit-min-device-pixel-ratio: 2){

/*
.ico{
	background-image: url(../img/sprite@2x.png);
	background-size: 500px;
}
*/

}